@import './variables';
@import './mixins';
.row {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
}

.col {
    padding: 0.5rem;
}

@each $key,
$value in $breakpoints {
    @for $i from 1 through $items {
        .col-#{$key}-#{$i} {
            flex: 0 0 100%;
            @include breaker($key) {
                flex: 0 0 #{$i / $items * 100%};
            }
        }
    }
}

@each $key,
$value in $containers {
    @include breaker($key) {
        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            max-width: #{$value};
        }
    }
}