#modal {
    position: fixed;
    padding: 20px;
    z-index: 1;
    left: calc(100vw - 85%);
    top: 10%;
    background-color: #1f2739;
    #times {
        color: white;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 10px;
        font-family: monospace;
        font-size: 15px;
    }
    .modal-content {
        padding: 15px;
        padding-top: 0;
        table {
            box-shadow: none;
            padding: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            th {
                font-size: 12px;
            }
            td {
                font-size: 14px;
                padding: 10px;
            }
        }
    }
    width: 70%;
    .modal-header {
        h4 {
            color: #eae2cf;
            text-align: center;
            font-size: 25px;
            margin: 0;
        }
    }
}

.overlay {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(6px);
}